$fontfam: Roboto, Helvetica, sans-serif;
$sloganListingLinkWidth: 75vw;
$sloganListingVoteButtonsWidth: 20vw; /*account for 5 * ___vw of margins. */
$sloganPageTextWidth: 70vw;
$sloganPageVoteButtonsWidth: 20vw;
$listingLeftMargin: 1em;
$defaultColor: #000000;
$punchColor: #2f5057;

body {
  font-family: $fontfam;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;

  a {
    color: $defaultColor;
    text-decoration: none;
    :visited {
      color: $defaultColor;
    }
  }

  input, textarea {
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
  }
}

.slogan-row {
  position: relative;
  overflow: hidden;

  .profile-picture {
    float: left;
    width: 2em;
    padding: $listingLeftMargin;
  }

  .slogan-author {
    font-size: 3.75vw;
    font-weight: bold;
    float: left;
    margin-top: 1rem;
  }

  .slogan-data {
    font-size: 2vw;
    float: left;
    clear: both;
  }
  .slogan-listing-link {
    margin-left: $listingLeftMargin;
  }
  .slogan-text {
    font-size: 10vw;
    font-weight: bold;
    margin: 0px 0px;
    float: left;
    clear: left;
    width: $sloganPageTextWidth;
  }
  .slogan-vote-buttons {
    /* width: $sloganListingVoteButtonsWidth; */
    margin: 0vw 1vw;
    float: right;
    clear: left;
    text-align: center;
    position: absolute;
    right: 1em;
    top: 50%;
    -webkit-transform: translateY(-52%);
    -moz-transform: translateY(-52%);
    transform: translateY(-52%);

    td {
      a {
        display: block;
      }
      span{
        font-size: 1.4rem;
        @media screen and (max-width: 480px) {
          font-size: .9rem;
        }
        @media screen and (min-width: 960px) {
          font-size: 1.75rem;
        }
      }
      img {
        height: 3.4rem;
        @media screen and (max-width: 480px) {
          height: 2.8rem;
        }
        @media screen and (min-width: 960px) {
          height: 4rem;
        }
      }
    }
  }

  hr {
    width: 96%;
    float: left;
    margin-left: 2%;
  }
}



.slogan-page {
  padding: 0vw 2vw;
  .slogan-author {
    font-size: 3.75vw;
    float: left;
  }
  .slogan-text-box {
    border: solid 1px black;
    padding: 6em 0vw;
    position: relative;
    float: left;
    width: 100%;
    .slogan-text {
      width: $sloganPageTextWidth - 4vw;
      padding-left: 4vw;
    }
  }
  .slogan-data {
    font-size: 2.5vw;
    float: right;
  }
  .slogan-tags {
    float: left;
    font-size: 3vw;
    margin-top: .1rem;
    span {
      padding-right: 1em;
    }
  }
  .slogan-comments {
    clear: both;
    font-size: 2.5vw;
    position: relative;
    top: 3vw;
    .comment-author {
      font-weight: bold;
      margin-bottom: 0px;
    }
    .comment-text {
      margin-top: 0px;
    }
  }
  .slogan-comment-buttons {
    padding: 2vw;
    border: solid 1px $defaultColor;
    font-size: 3vw;
    bottom: .5rem;
  }
}

.profile-page {
  .profile-top {
    height: 30vh;
  }
  .profile-picture {
    height: 75%;
    width: auto;
    float: left;
    padding: 1.8%;
  }
  .profile-info {
    padding:  10px;
  }

  .slogan-row {
    td {
      a {
        display: block;
      }
      span{
        font-size: .95rem;
        @media screen and (max-width: 480px) {
          font-size: .65rem;
        }
        @media screen and (min-width: 960px) {
          font-size: 1.2rem;
        }
      }
      img {
        height: 2.8rem;
        @media screen and (max-width: 480px) {
          height: 2rem;
        }
        @media screen and (min-width: 960px) {
          height: 3.1rem;
        }
      }
    }
  }
}

.comments-page {
  .add-comment {
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .comment-row {
    padding-left: 2rem;
    padding-right: 1rem;
  }
  input {
    :focus {
      border: 1px solid $punchColor; /*this doesn't do anything */
    }
  }

  #below-comment-add-field {
    margin-top: .2rem;
    margin-bottom: 0px;
    #charNum {
      font-size: 65%;
    }
  }
}

.highlighted-word {
  color: #ffffff;
  background-color: $punchColor;
  padding: 0em .12em;
}

.error-notice {
  padding: 2em;
  text-align: center;
}

#addSloganForm {
  width: 70%;
  padding-left: 10%;
  margin-top: 1em;
  textarea {
    width: 100%;
    font-size: 2.3rem;
    font-weight: bold;
    padding: 13vh 5%;
    font-family: $fontfam;
  }
}
#below-slogan-add-field {
  margin-top: .2rem;
  margin-bottom: 0px;
  #charNum {
    font-size: 65%;
  }
}

#edit-profile-page, #create-profile-page {
  #form-insides {
    width: 90%;
    padding-left: 5%;
    #charNum {
      font-size: 65%;
    }
    #edit-picture-field {
      width: 30%;
      float: left;
      img {
        width: 100%;
      }
    }
    #edit-text-fields {
      width: 65%;
      float: right;
      input, textarea {
        width: 100%;
      }
      input:focus, textarea:focus {
        border: 2px solid $punchColor;
      }
    }
    #create-edit-fields {
      width: 100%;
      input, textarea {
        width: 100%;
      }
      input:focus, textarea:focus {
        border: 2px solid $punchColor;
      }
    }
  }
  #submit-button {
    width: 100%;
    height: 3.5em;
    position: fixed;
    bottom: 0px;
  }
}