{% extends "html/base.html" %}
{% block head %} {% endblock %}
{% block title %}Profile{% endblock %}
{% block pageContent %}
<!-- uRow: [id, uniqueUserID, nickname, bio, createdAt]
     userPoems: [id, uniqueUserID, nickname]
-->
<!-- <a href="/">go home</a><br><br> -->

<div class="profile-page">
    <div class="profile-top">
        {% if uRow.pictureURL %}
            <img src="{{uRow.pictureURL}}" class="profile-picture">
        {% else %}
            <img src="/img/stock-profile.PNG" class="profile-picture">
        {% endif %}
        <div class="profile-info">
            <h3>{{uRow.nickname}}</h3>
            <p class="profile-bio">{{uRow.bio}}</p>
        </div>
    </div>
    <hr>
    {% for sRow in sloganRows %}
        <div class="slogan-row">
            <div class="slogan-vote-buttons">
                <div><strong><a class="vote-button" href="javascript:VoteUp('{{sRow.key.id()}}');" >
                    <img style="height: 3.2rem" src="/img/gunUp.png">
                    <span style="font-size: 3.2rem">{{sRow.numLikes}}</span>
                </a></strong></div>
                <div><strong><a class="vote-button" href="javascript:VoteDown('{{sRow.key.id()}}');" >
                    <img style="height: 3.2rem" src="/img/gunDown.png">
                    -<span style="font-size: 3.2rem">{{sRow.numDislikes}}</span>
                </a></strong></div>
            </div>
            <a href="/slogan/{{sRow.key.id()}}">
                <div class="slogan-listing-link">
                    <p class="slogan-text">
                        {% for sWord in sRow.text.split() %}
                            {% if loop.index0 == sRow.highlightedWord %}
                                <span class="highlighted-word">{{sWord}}</span>
                            {% else %}
                                <span>{{sWord}}</span>
                            {% endif %}
                        {% endfor %}
                    </p>
                    <p class="slogan-data">
                        <a href="http://slogunapp.appspot.com/slogan/{{sRow.key.id()}}/comments">
                            {% if sRow.numComments == 1 %}{{sRow.numComments}} comment{% else %}{{sRow.numComments}} comments{% endif %}
                        </a>
                    </p>
                </div>
            </a>
            <hr>
        </div>
    {% endfor %}

</div>

{% endblock %}