{% extends "html/base.html" %}
{% block head %} {% endblock %}
{% block title %} | Profile{% endblock %}
{% block pageContent %}
<!-- uRow: [id, uniqueUserID, nickname, bio, createdAt]
     userPoems: [id, uniqueUserID, nickname]
-->
<!-- <a href="/">go home</a><br><br> -->

<div class="profile-page">
    <div class="profile-top">
        {% if uRow.pictureURL %}
            <img src="{{uRow.pictureURL}}" class="profile-picture">
        {% else %}
            <img src="/img/stock-profile.PNG" class="profile-picture">
        {% endif %}
        <div class="profile-info">
            <h3>{{uRow.nickname}}</h3>
            <p class="profile-bio">{{uRow.bio}}</p>
        </div>
    </div>
    <hr>
    {% for sRow in sloganRows %}
            <div class="slogan-row">

                <table cellspacing="0" class="slogan-vote-buttons">
                    <tr class="vote-up-button">
                        <td>
                            <a title="{{sRow.key.id()}}">
                                <img src="/img/gunUp.png">
                            </a>
                        </td>
                        <td>
                            <a title="{{sRow.key.id()}}">
                                <strong><span class="vote-number">{{sRow.numLikes}}</span></strong>
                            </a>
                        </td>
                    </tr>
                    <tr class="vote-down-button">
                        <td>
                            <a title="{{sRow.key.id()}}">
                                <img src="/img/gunDown.png">
                            </a>
                        </td>
                        <td>
                            <a title="{{sRow.key.id()}}">
                                <strong><span>-</span><span class="vote-number">{{sRow.numDislikes}}</span></strong>
                            </a>
                        </td>
                    </tr>
                </table>

                <div class="slogan-listing-link">
                    <a href="/app/slogan/{{sRow.key.id()}}">
                        <p class="slogan-text">
                            {% for sWord in sRow.text.split() %}
                                {% if loop.index0 == sRow.highlightedWord %}
                                    <span class="highlighted-word">{{sWord}}</span>
                                {% else %}
                                    <span>{{sWord}}</span>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </a>
                    <p class="slogan-data">
                        <a href="http://slogunapp.appspot.com/app/slogan/{{sRow.key.id()}}/comments">
                            {% if sRow.numComments == 1 %}{{sRow.numComments}} comment{% else %}{{sRow.numComments}} comments{% endif %}
                        </a>
                    </p>
                </div>

                <hr>
            </div>
        {% endfor %}

</div>

{% endblock %}