{% extends "html/base.html" %}
{% block head %} {% endblock %}
{% block title %} | Slogan{% endblock %}
{% block pageContent %}

<!-- pRow, author, comments -->
<!-- <a href="/">go home</a><br><br> -->

<div class="slogan-page" xmlns="http://www.w3.org/1999/html">

    <div>
        <a href="/app/user/{{sRow.uniqueAuthorID}}">
            <p class="slogan-author"><strong>{{sRow.authorNickname}}</strong></p>
        </a>
    </div>

    <div class="slogan-text-box slogan-row">
        <table cellspacing="0" class="slogan-vote-buttons">
            <tr class="vote-up-button">
                <td>
                    <a title="{{sRow.key.id()}}">
                        <img src="/img/gunUp.png">
                    </a>
                </td>
                <td>
                    <a title="{{sRow.key.id()}}">
                        <strong><span class="vote-number">{{sRow.numLikes}}</span></strong>
                    </a>
                </td>
            </tr>
            <tr class="vote-down-button">
                <td>
                    <a title="{{sRow.key.id()}}">
                        <img src="/img/gunDown.png">
                    </a>
                </td>
                <td>
                    <a title="{{sRow.key.id()}}">
                        <strong><span>-</span><span class="vote-number">{{sRow.numDislikes}}</span></strong>
                    </a>
                </td>
            </tr>
        </table>

        <p class="slogan-text">
            {% for sWord in sRow.text.split() %}
                {% if loop.index0 == sRow.highlightedWord %}
                    <span class="highlighted-word">{{sWord}}</span>
                {% else %}
                    <span>{{sWord}}</span>
                {% endif %}
            {% endfor %}
        </p>
    </div>

    <p class="slogan-tags">
        {% if sRow.subpageTag1 != "null" and sRow.subpageTag1 != "None" and sRow.subpageTag1 %}
        <span>#{{sRow.subpageTag1}}</span>
        {% endif %}
        {% if sRow.subpageTag2 != "null" and sRow.subpageTag2 != "None" and sRow.subpageTag2 %}
        <span>#{{sRow.subpageTag2}}</span>
        {% endif %}
    </p>

    <a href="http://slogunapp.appspot.com/app/slogan/{{sRow.key.id()}}/comments">
        <span class="slogan-data">
            {% if sRow.numComments == 1 %}{{sRow.numComments}} comment{% else %}{{sRow.numComments}} comments{% endif %}
        </span>
    </a>
    <div class="slogan-comments">
        <!-- these comments are placeholder until I can pull actual comments from the datastore. -->
        {% for cRow in comments %}
            <p class="comment-author">
                {{cRow.userNickname}}
            </p>
            <p class="comment-text">
                {{cRow.text}}
            </p>
        {% endfor %}
    </div>
    <p style="height: 3.5vw; margin: 0px;"></p>
    <a class="slogan-comment-buttons" style="left:1rem;" href="http://slogunapp.appspot.com/app/slogan/{{sRow.key.id()}}/comments">Comment</a>
    <p style="height: 2vw;"></p>

</div>

<!--
:::::::::the-complete-slogan*$&#^@*asdf
:::::::::{{sRow.text}}:::::::::
-->

{% endblock %}