{% extends "html/base.html" %}
{% block head %} {% endblock %}
{% block title %}Slogan{% endblock %}
{% block pageContent %}

<!-- pRow, author, comments -->
<!-- <a href="/">go home</a><br><br> -->

<div class="slogan-page">

    <div>
        <a href="/user/{{sRow.uniqueAuthorID}}">
            <p class="slogan-author">{{sRow.authorNickname}}</p>
        </a>
    </div>
    <div class="slogan-text-box">
        <div class="slogan-vote-buttons">
            <div class="upvote">
                <span class="arrow">ˆ</span> {{sRow.numLikes}}
            </div>
            <div class="downvote">
                <span class="arrow">ˇ</span> {{sRow.numDislikes}}
            </div>
        </div>
        <p class="slogan-text">{{sRow.text}}</p>
    </div>
    <span class="slogan-tags">#Midwest</span>
    <span class="slogan-data">
        {% if sRow.numComments == 1 %}{{sRow.numComments}} comment{% else %}{{sRow.numComments}} comments{% endif %}</span>
    <div class="slogan-comments">
        <!-- these comments are placeholder until I can pull actual comments from the datastore. -->
        {% for cRow in comments %}
            <p class="comment-author">
                {{cRow.userNickname}}
            </p>
            <p class="comment-text">
                {{cRow.text}}
            </p>
        {% endfor %}
    </div>
    <a class="slogan-comment-buttons" style="left:1rem;" href="http://slogunapp.appspot.com/slogan/{{sRow.key.id()}}/comments">Comment</a>
    <a class="slogan-comment-buttons" style="right:1rem;" href="http://slogunapp.appspot.com/slogan/{{sRow.key.id()}}/share">Share</a>

    <p></p>

</div>

{% endblock %}